@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500&display=swap');
/* @import "media"; */



*{
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace
}
body{
    background: url('/images/math_bg.jpeg') center center/cover;
}
section{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.main_calc{
    background-color: rgba(0, 0, 0, 0.15);
    height: 466px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    background: rgb(199, 203, 201);
}
.main_calc .cmanez{
    position: absolute;
    font-size: 10px;
    top: 262px;
    
}
.main_calc .cmanez span{
    font-size: 15px;
}

.last_results{
    display: flex;
    align-items: center;
    background: rgb(199, 203, 201);
    margin-left: 50px ;
    height: 200px;
    align-self: center;
    padding: 10px;
}

.last_results button{
    max-height: 36px;
    margin-right: 10px;
}
.last_results .last_result{
    resize: none;
    height: 180px;
    z-index: 9999;
    text-align: center;
    word-wrap: break-word;
    padding: 10px;
}

.output_border{
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    width: 184px;
    margin: 0 auto;
    text-align: center;
}
.button_numbers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
    height: 100px;
    
}
/* .button_zero{
    display: flex;
    align-self: center;
} */
.calc_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.go{
    max-width: 50px;
    margin: 0 auto;
    margin-bottom: 10px ;
}
.main_calc input{
    height: 34px;
    width: 202px;
    margin-bottom: 10px;
    margin-top: -76px;
    text-align: center;
    
}

.result{
    width: 100px;
    height: 30px;
    margin: 0 auto;
}

.button_number{
    width: 50px;
    height: 35px;
    font-size: 20px;
    margin: 6px;
}
.button_action{
    font-size: 20px;
}
.button_actions{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin-bottom: 10px;
   justify-content: center;
}
.button_actions button{
    display: flex;
    text-align: center;
    width: 50px;
    height: 35px;
    border-radius: 100%;
   
}
.button_actions .button_clear{
    align-self: center
    
}
button{
    text-align: center;
    line-height: 15px;
    justify-content: center;
    background-color: rgb(161, 161, 248);
    border-radius: 10px;
    border: 8px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width : 768px)  {
    section{
        display: block;
        margin: 0 auto;
    }
    .last_results{
        margin: 0 auto;
        margin-top: 40px;
    }
    }