*{
    box-sizing: border-box;
}
.container{
margin: 0 637px;
}

.main_calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 250px 0;

}

.button_numbers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 160px;
    height: 100px;
    
}
/* .button_zero{
    display: flex;
    align-self: center;
} */
.calc_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.go{
    max-width: 50px;
    margin: 0 auto;
    margin-bottom: 10px ;
}
input{
    width: 121px;
    margin-bottom: 10px;
}

.result{
    width: 100px;
    height: 30px;
    margin: 0 auto;
}
output{
    text-align: center;
    border: 2px;
}
.button_number{
    width:50px;
    height: 35px;
    padding-right: 10px;
    font-size: 20px;
}
.button_action{
    font-size: 20px;
}
button{
    background-color: rgb(161, 161, 248);
    border-radius: 10px;
}
